#################
## Log
#################
/log/*
!/log/.htaccess
!/log/web.config

#################
## Temp
#################
/temp/*
!/temp/.htaccess
!/temp/web.config

#################
## Config
#################
*.local.neon

#################
## Composer
#################
composer.lock

#################
## Vendor (3rd side libs)
################
#vendor/bin/
#vendor/composer/
#vendor/dg/
#vendor/doctrine/
#vendor/kdyby/
#vendor/nette/
#vendor/symfony/
#vendor/autoload.php

#################
## NetBeans
################
nbproject/

#################
## PhpStorm
################
.idea

tmp/
purge/
