{block head}
    {include parent}
    {control cssGrido}
{/block}

{block content}
<h1 class="page-header">GridoPresenter</h1>
<p>Example of loading data to Grido datagrid from database by Doctrine 2. Grid is a independent component injected to presenter by his factory. </p>

{control gridBook}
