
{block content}
<h1>Doctrine2Presenter</h1>
<p>Example of loading raw data from database by Doctrine 2.</p>

<h2>Books</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    {foreach $books as $book}
        <tr>
            <td>{$book->id}</td>
            <td>{$book->title}</td>
            <td>{$book->author->surname},&nbsp;{$book->author->firstname}</td>
        </tr>
    {/foreach}
</table>
